@model Sistema_de_Inventario.Models.RegistroSpare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegistroSpare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroParte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroParte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Almacen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Almacen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpareID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
